body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

h1 {
  font-size: 2.25em; /* 36px */
  line-height: 120%;
  padding-top: 25px;
  padding-bottom: 25px;
}

h3 {
  font-size: 1.2em; /* 19px */
  font-weight: 700; /* semi-bold */
  line-height: 120%;
  padding-bottom: 25px;
}

p {
  font-size: 1.2em; /* 19px */
  line-height: 120%;
}

.a {
  margin-bottom: 1.2em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}

a:link {
  color: blue; /* unvisited */
}

a:visited {
  color: darkblue; /* visited */
}

a:hover {
  color: lightblue; /* mouse over */
}

a:active {
  color: darkblue; /*selected */
}

.logo {
  margin: 20px;
  width: 100px;
  background-image: url(images/bloc-logo.png);
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  background-image: url(images/instagram-pic.jpg);
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.author {
  font-size: 1.2em; /* 19px */
  font-style: italic;
  line-height: 120%;
  padding-bottom: 25px;
}
